asgiref==3.2.7
berserk==0.10.0
certifi==2020.12.5
chardet==4.0.0
chess==1.3.3
cycler==0.10.0
Deprecated==1.2.10
Django==2.1.15
django-smart-selects==1.5.4
django-tinymce==3.0.2
django-user-agents==0.4.0
et-xmlfile==1.1.0
fidetournament==0.3
idna==2.10
kiwisolver==1.3.2
matplotlib==3.4.3
ndjson==0.3.1
numpy==1.21.2
openpyxl==3.0.9
Pillow==7.1.2
pyparsing==2.4.7
python-chess==1.999
python-dateutil==2.8.1
python-lichess==0.9
pytz==2020.1
requests==2.25.1
six==1.14.0
sqlparse==0.3.1
ua-parser==0.10.0
urllib3==1.26.2
user-agents==2.1
wrapt==1.12.1
