{% extends 'base.html' %}
{% load static %}
{% block title %}{{ album }}{% endblock %}
{% block header %} 
<!-- CSS used -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<link type="text/css" rel="stylesheet" href="{% static 'css/lightgallery.css' %}" />

<!-- lightgallery plugins -->
<link type="text/css" rel="stylesheet" href="{% static 'css/lg-zoom.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/lg-thumbnail.css' %}" />

{% endblock %}

{% load i18n %}
{% block content %}
<div class="row">
<h1 class="mt-4">{{album.title}}</h1>
{% if album.description %}{{album.description}}{% endif %}
{{album.updated.date}}

</div>
<div id="lightgallery" class="gallery">
    {% for image in images %}
    <a href="{{image.image.url}}" class="gallery__item gallery__item--{{forloop.counter}}">
        <img alt="{{image.altText}}" src="{{image.image.url}}" data-lg-size="1600-2400" class="gallery__img"/>
    </a>
    {% endfor %}
</div>
{% endblock %}




{% block scripts %}
    <!-- Or use the minified version -->
    <script src="{% static 'js/lightgallery.min.js' %}"></script>

    <!-- lightgallery plugins -->
    <script src="{% static 'js/lg-thumbnail.min.js' %}"></script>
    <script src="{% static 'js/lg-zoom.min.js' %}"></script>

    <script type="text/javascript">
        lightGallery(document.getElementById('lightgallery'), {
            plugins: [lgZoom, lgThumbnail],
            licenseKey: '0000-0000-000-0000',
            speed: 500,
        });
    </script>

{% endblock %}