{% load i18n %}
{% load league_tags %}
{% load user_agents %}

        <table class="table table-striped table-hover league-table">
           <thead>
            <tr>
               <th class="num text-center">{% trans "" %}</th>
               <th>{% trans "Player" %}</th>
               <th class="num text-center">{% trans "Rating" %}</th>
                {% if not request|is_mobile %}
                {% for r in rounds %}
                <th class="num text-center">Rd {{r}}</th>
                {% endfor %}
                {% endif %}
                <th class="num text-center">{% trans "Total" %}</th>
                <th class="num text-center">{% trans "Tie-break" %}</th>

            </tr>
           </thead>
           <tbody>
    {% for player in standings %}
        <tr>
            <td>{{player.position}}</td>
            <td><a href="{% url 'player' player.player.id league.slug %}">{{player.player}}</a></td>
            <td class="text-center">{% if player.rating and player.rating > 0 %}{{player.rating}} {% else %} - {% endif %}</td>
            {% if not request|is_mobile %}
            {% for r in player.form %}
            <td class="text-center">
                {% if r == 'W' %}
                1
                {% elif r == 'D' %}
                0,5
                {% elif r == 'L' %}
                0
                {% elif r == 'P' %}
                -
                {% endif %}
            </td>
            {% endfor %}
            {% endif %}
            <td class="text-center">{{player.swiss_points}}</td>
            <td class="text-center">{{player.swiss_nbs}}</td>

        </td>
        </tr>
    {% endfor %}

               </tbody>
        </table>