{% load i18n %}
{% load league_tags %}

{% if roster %}

<table class="table table-striped table-hover league-table">

<div class="table-responsive">
    <table class="table members-table">
        <thead>
            <tr>
              <th></th>
                <th>Member</th>
                <th>Rating</th>
                <th>Member Since</th>
                <th>Type</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>

        {% for player in roster %}
        <tr>

        <td>{{ forloop.counter }}</td>
          <td>
              <div class="member-name">
                  <div class="member-avatar">JM</div>
                  <span><a href="{% url 'player' player.id %}">{{player.name}} {{player.surename}}</a></span>
              </div>
          </td>
          <td><strong>{% if player.rating %}{{player.rating}} {% else %} - {% endif %}</strong></td>
          <td>2018</td>
          <td><span class="member-type-badge badge-active">Active</span></td>
          <td><a href="mailto:j.morrison@email.com" class="contact-link">j.morrison@email.com</a></td>
      </tr>
        {% endfor %}
    </tbody>
  </table>

{% endif %}
