{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_modify %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; <a href="{% url opts|admin_urlname:'change' object_id=original.id %}"> {{ original|truncatewords:"18" }} </a>
&rsaquo; <a href="{% url opts|admin_urlname:'manage' original.pk|admin_urlquote %}"> Manage </a>

&rsaquo; {% trans 'Create Swiss Round' %}
</div>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>
{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
{{ form.media }}
{% endblock %}
{% block content %}
<div>

  {% url 'admin:league_league_change' original.pk|admin_urlquote as league_url %}
  {% if pairs|length > 0 %}
  <form action="{{ form_url }}" method="post">
    {% csrf_token %}
    {% for p in pairs %}
    {{round}} {{p.0}} v {{p.1}} <br>
    {% endfor %}  
    <input type="hidden" value="{{date}}" name="date">
    <input type="hidden" value="{{time}}" name="time">
    <input type="hidden" value="{{round}}" name="round">
    <input type="submit" value="Create Games" name="create_swiss_games">
  </form>
  {% else %}
  <form action="{{ form_url }}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create New Round" name = "create_swiss_round">
  </form>
  {% endif %}
</div>

{% endblock %}