{% extends 'base.html' %}
{% load static %}
{% block title %}{{ game }}{% endblock %}
{% block header %} 
<script src="{% static 'js/pgnvjs.js' %}" type="text/javascript"></script>
<!-- CSS used -->
<link rel="stylesheet" href="{% static 'css/pgnvjs.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}
{% load i18n %}
{% load league_tags %}
{% block content %}
<article id="league-{{ slug }}-{{team.slug}}" class="news">
    <h1>{{ game }}</h1>
    <hr />
    {{game.league}}: {{game.date}} {{ game.white }} {{ game.print_result }} {{ game.black }}
</article>
{% if game.pgn %}
<div id="board" class='merida zeit'></div>
<script>
    var pgn = `{{ game.pgn|safe }}`;
    var cfg = { pgn : pgn, locale : 'en', position: 'start', showCoords: true, orientation: 'white', theme: 'default', pieceStyle: 'wikipedia', timerTime: '', boardSize: '400px', layout: 'left', movesWidth: '400px', movesHeight: '400px', showFen: false, coordsInner: false, headers: false, coordsFactor: '1.0', startPlay: '', hideMovesBefore: false, notation: 'short', };
    var board = pgnEdit('board', cfg);
    </script>
{% endif %}
<hr />
{% endblock %}
