{% extends 'base.html' %}
{% block title %}{{ page_name }}{% endblock %}
{% load static %}

{% load i18n %}
{% load league_tags %}
{% block content %}

<div class = "col ml-auto mr-auto text-center mt-3">
  <h1>{% if page_name %}{{ page_name }}{% else %} {{player}} {% endif %}</h1>

{% if player.image %}
<img src = "{player.image}">
{% else %}
<img src = "{% static 'img/blank-profile-picture-973460_1280.png' %}" width="10%">
{% endif %}
{% if player.rating %}
<p>Rating: {{player.rating}}
  <br>
ECF Equivalent: {{player.ecf_grade}}</p>
{% endif %}
{% if player.ecf %}
<img src = "{% static 'img/ecf.jpeg' %}" width="40px"> <a href = "https://www.ecfrating.org.uk/v2/new/list_games_player.php?player_no={{player.ecf}}">{{player.ecf}}</a>
{% endif %}
{% if player.lichess %}
<img src = "{% static 'img/lichess.png' %}" width="40px"> <a href = "https://lichess.org/@/{{player.lichess}}">{{player.lichess}}</a>
{% endif %}
</div>
{% for season,leagues in games.items %}
<article id="league-{{ slug }}-player" class="news">
    <div class = "col-md-7 ml-auto mr-auto text-center">
      {% for league,games in leagues.items %}
        {% if league.format == 1 %}
          {% include 'content/game_list.html' with season=season league=league game=games%}
        {% elif league.format == 0 %}
          {% include 'content/game_list.html' with season=season eague=league game=games%}
        {% endif %}
      {% endfor %}
    </div>        
</article>
{% endfor %}
<hr />

{% endblock %}