{% extends 'base.html' %}
{% load static %}
{% block title %}{{ game }}{% endblock %}
{% block header %} 
<script src="{% static 'js/pgnv.js' %}" type="text/javascript"></script>
<!-- CSS used -->
<link rel="stylesheet" href="{% static 'css/pgnvjs.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}
{% load i18n %}
{% load league_tags %}
{% block content %}
<article id="league-{{ slug }}-{{team.slug}}" class="news">
    <h1>{{ game.white }} {{game.print_result|safe}} {{ game.black }}</h1>
    <h2>{{game.league}}</h2>
    <h2>{{game.date.date}}</h2>
    {%if game.lichess %}<a href = "https://lichess.org/{{game.lichess}}">lichess.org/{{game.lichess}}</a>{% endif %}
    <hr />
</article>
{% if game.pgn %}
<div class = "game-board ml-auto mr-auto">
<div id="board" class='merida zeit' tabindex="0"></div>
</div>
{% endif %}
<hr />
{% if game.pgn %}
<script>
    window.addEventListener("load", function() {
    var board = document.getElementById('board');
    var width = board.parentElement.offsetWidth;
    /*var cfg = {pgn: pgn};*/
    var pgn = `{{ game.clean_pgn|safe}}`;

    var cfg = {pgn: pgn, showCoords: true, theme: 'default', pieceStyle: 'wikipedia', locale: 'en', timerTime: '', layout: 'top', showFen: false, coordsInner: false, headers: false, coordsFactor: '1.0', colorMarker: '', startPlay: '', hideMovesBefore: true, hideMovesAfter: false, notation: 'short', 'width' : width.toString()+'px', orientation: 'white', movable: {free : true } };

    PGNV.pgnEdit('board', cfg);
}
    )
</script> 
{% endif %}
{% endblock %}
