{% extends 'base.html' %}
{% load static %}
{% block title %}{{ game }}{% endblock %}
{% block header %} 
<!-- CSS used -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}
{% load i18n %}
{% load league_tags %}
{% block content %}
<h1 class = "mt-4">Internal Leagues</h1>
<hr>
<br>
<div class='col-md-7 ml-auto mr-auto card rounded-top px-0'>
    <div class='card-header'><h1>{{season.name}}</h1></div>
<div class='card-body'>
    <ul>
{% for league in leagues %}
<li class='my-2'> <a class="page-link" href = "{% url 'league' league.slug %}">{{league.name}}</a> </li>
{% endfor %}
</ul>
</div>
<div class="card-footer"></div>
</div>
{% endblock %}
}