{% extends 'base.html' %}
{% load static %}
{% block title %}{{ game }}{% endblock %}
{% block header %} 
<!-- CSS used -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}
{% load i18n %}
{% load league_tags %}
{% block content %}
<h1 class = "mt-4">Internal Leagues</h1>
<hr>
<br>
<div class='col-md-7 ml-auto mr-auto px-0'>
    <h3>{{season.name}} Season</h3>
        {% for league in leagues %}
        <h5><i class="fas fa-circle"></i><a class="page-link" href = "{% url 'league' league.slug %}">{{league.name}}</a></h5>

{% endfor %}
</ul>
</div>
{% endblock %}
}