{% extends 'base.html' %}
{% load static %}
{% block title %}{{ game }}{% endblock %}
{% block header %} 
<!-- CSS used -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}
{% load i18n %}
{% load league_tags %}
{% block content %}
<h1 class = "mt-4">Online Leagues</h1>
<hr>
Details are below of the ongoing internal leagues for Wallasey club members. Click through to see the standings and replay the games.
<br>
<ul>
{% for season in seasons %}
<li> {{season}} | <a href = "{% url 'standings_full' season.slug %}">Standings</a> | <a href = "{% url 'schedule_full' season.slug %}">Schedule</a> </li>
{% endfor %}
</ul>
{% endblock %}
}