{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_modify %}
<!--
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% trans 'Manage' %} {{ original|truncatewords:"18" }}
</div>
{% endblock %}
-->
{% block content %}
{% url 'admin:league_league_change' original.pk|admin_urlquote as league_url %}

<div>
  <form action="{{ form_url }}" method="post">
    {% csrf_token %}
    {{ arena_form }}
    <input type="submit" value="Add">
  </form>
  <form action="{{ form_url }}" method="post">
    {% csrf_token %}
    {{ swiss_form }}
    <input type="submit" value="Add">
  </form>
  <form action="{{ form_url }}" method="post">
    {% csrf_token %}
    {{ game_form }}
    <input type="submit" value="Add">
  </form>
  <form action="{{ form_url }}" method="post">
    {% csrf_token %}
    {{ round_form }}
    <input type="submit" value="Print">
  </form>


  <p>Go back to <a href="{{league_url}}">{{original}}</a></p>
</div>
{% endblock %}