{% extends 'base.html' %}
{% block title %}{{ page_name }} {{ team.short_name }}{% endblock %}
{% load i18n %}
{% load league_tags %}
{% block content %}
    <h1 class = "mt-4">{% if page_name %}{{ page_name }}{% else %} {% trans "Club Members" %} {% endif %} {% if team %} {{team.short_name}} {% endif %}</h1>
    
    <h2>{% if season %} {{season.name}} {% endif %}</h2>
    <hr />
        {% if roster %}
        <div>
            {% include 'content/team_roster.html' with roster=roster %}
        </div>
        {% endif %}

<hr />
{% endblock %}