{% extends 'base.html' %}
{% block title %}{{ page_name }} {{player}}{% endblock %}

{% load i18n %}
{% load league_tags %}
{% block content %}
<article id="league-{{ slug }}-schedule" class="news">
    <h1>{% if page_name %}{{ page_name }}{% else %} {% trans "Schedule" %} {% endif %} {% if season %} {{ season }} {% endif %}</h1>
    <hr />
    <div class = "col-md-8 ml-auto mr-auto">
        {% if schedule %}
            {% include 'content/schedule.html' with schedule=schedule %}
        {% else %}
            <p>Brak danych</p>
        {% endif %}
</div>
</article>
<hr />
{% endblock %}