{% extends 'base.html' %}
{% block title %}{{ page_name }}{% endblock %}

{% load i18n %}
{% load league_tags %}
{% block content %}
<div class="text-center">
<h1 class="mt-4">Tournaments</h1> 
</div>


<div class='col-md-7 ml-auto mr-auto px-0 py-3'>

  <h3>2023/2024</h3>

  <h5><a class="px-3" href = "{% url 'tournament' 'championship-23-24' %}">Championship</a></h5>
  <h5><a class="px-3" href = "{% url 'tournament' 'premiership-23-24' %}">Premiership</a></h5>
  <h5><a class="px-3" href = "{% url 'tournament' 'major-23-24' %}">Major</a></h5>
  <h5><a class="px-3" href = "{% url 'tournament' 'open-major-knockout-23-24' %}">Open Major Knockout</a></h5>
  <h5><a class="px-3" href = "{% url 'tournament' 'david-camm-knockout-23-24' %}">David Camm Knockout</a></h5>


  <h3>2022/2023</h3>

  <h5><a class="px-3" href = "{% url 'tournament' 'championship-22-23' %}">Championship</a></h5>
  <h5><a class="px-3" href = "{% url 'tournament' 'premiership-22-23' %}">Premiership</a></h5>
  <h5><a class="px-3" href = "{% url 'tournament' 'major-22-23' %}">Major</a></h5>
  <h5><a class="px-3" href = "{% url 'tournament' 'open-major-knockout-22-23' %}">Open Major Knockout</a></h5>
  <h5><a class="px-3" href = "{% url 'tournament' 'david-camm-knockout-22-23' %}">David Camm Knockout</a></h5>
  <h5><a class="px-3" href = "{% url 'tournament' 'summer-22-23' %}">Summer Tournament</a></h5>
  <h5><a class="px-3" href = "{% url 'tournament' 'rapid-22-23' %}">Rapid Tournament</a></h5>


  <h3>2021/2022</h3>

  <h5><a class="px-3" href = "{% url 'tournament' 'wallasey-premiership-2021-2022' %}">Premiership</a></h5>
  <h5><a class="px-3" href = "{% url 'tournament' 'wallasey-championship-2021-2022' %}">Championship</a></h5>
  <h5><a class="px-3" href = "{% url 'tournament' 'wallasey-major-21-22' %}">Major</a></h5>
  <h5><a class="px-3" href = "{% url 'tournament' 'wallasey-playoffs-21-22' %}">Wallasey Playoffs</a></h5>

  <h5><a class="px-3" href = "{% url 'tournament' 'open-major-knockout-21-22' %}">Open Major Knockout</a></h5>
  <h5><a class="px-3" href = "{% url 'tournament' 'david-camm-knockout-trophy-21-22' %}">David Camm Knockout</a></h5>
  <h5><a class="px-3" href = "{% url 'tournament' 'summer-2021-2022' %}">Summer Tournament</a></h5>
  <h3>2020/2021</h3>
  <i>The 2020/2021 season did not take place due to coronavirus, but an online only tournament was held in its place</i>

  <h5><a class="px-3" href = "{% url 'tournament' 'classical-swiss-2021' %}">Online Swiss</a></h5>

  <h3>2019/2020</h3>
  <i>The 2019/2020 season was halted midway through due to coronavirus</i>

  <h3>2018/2019</h3>
        <h5><a class="px-3" href = "{% url 'tournament' 'premiership-18-19' %}">Premiership</a></h5>
        <h5><a class="px-3" href = "{% url 'tournament' 'championship-18-19' %}">Championship</a></h5>
</nav>

</div>

{% endblock %}
