<!DOCTYPE html>


{% load static %}
{% load league_tags %}
{% load user_agents %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallasey Chess Club - Home</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

    <link href="{% static 'css/wcc-styles.css' %}" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#home">
                <div class="logo-placeholder">
                    <img src="https://wallaseychessclub.uk/static/img/wcc_logo.png" alt="Wallasey Chess Club">
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">


                    {% for menu, dropdownitems in menuitems.items %}
                    {% if dropdownitems|length > 0 %}
                    <li class = "nav-item dropdown">
                        <a class="nav-link dropdown-toggle reserve-space" role="button" data-bs-toggle="dropdown" id="{{ menu.text }}DropDown" {% if menu.url %} href="{{ menu.url }}" {% else %} href="#" {% endif %} role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" reserve="CH {{ menu.text }} DD">
                            {% if menu.icon %}{{ menu.icon|safe }} {% endif %} {{ menu.text }}
                        
                        </a>
                        <ul class="dropdown-menu bg-black" aria-labelledby="{{ menu.text }}Dropdown">
                    {% for d in dropdownitems %}
                    {% if d.subitem %}
                            <li><a class="dropdown-item reserve-space" {% if d.url %} href="{{ d.url }}" {% else %} href="#" {% endif %} title="{{ d.text }}">&nbsp;&nbsp;&nbsp;{{ d.text }}</a></li>
                    {% else %}
                            <li><a class="dropdown-item reserve-space" {% if d.url %} href="{{ d.url }}" {% else %} href="#" {% endif %} title="{{ d.text }}">{{ d.text }}</a></li>
                    {% endif %}
                    {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link reserve-space" {% if menu.url %}  href="{{ menu.url }}" {% else %} href="#" {% endif %}>{% if menu.icon %}{{ menu.icon|safe }} {% endif %}{{menu.text}}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}


                    <!--
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            About
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#history">Club History</a></li>
                            <li><a class="dropdown-item" href="#committee">Committee</a></li>
                            <li><a class="dropdown-item" href="#contact">Contact Us</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            Members
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#join">Join Us</a></li>
                            <li><a class="dropdown-item" href="#benefits">Member Benefits</a></li>
                            <li><a class="dropdown-item" href="#directory">Member Directory</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            Events
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#tournaments">Tournaments</a></li>
                            <li><a class="dropdown-item" href="#meetings">Weekly Meetings</a></li>
                            <li><a class="dropdown-item" href="#workshops">Workshops</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#gallery">Gallery</a>
                    </li>
                -->
                </ul>
            </div>
        </div>
    </nav>

    <div class="page-header">
        <div class="container">
            {% block page_header %}
            {% endblock %}
        </div>
    </div>

    <div class = "container mb-4">
    {% block content %}
    {% endblock %}
    </div>

    <footer>
        <p>&copy; 2021-2025 Wallasey Chess Club. All rights reserved.</p>
        <p>contact@wallaseychessclub.com</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>

    {% block scripts %}
    {% endblock %}
</body>
</html>