{% extends 'base.html' %}
{% load static %}
{% block title %}{{ game }}{% endblock %}
{% block header %} 
<!-- CSS used -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}
{% load i18n %}
{% load league_tags %}
{% block content %}
<h1 class="mt-4">Committee (2023/2024)</h1>
<hr>
    <table class="ml-auto mr-auto table-bordered table-hover">
    <thead>
      </thead>
      <tbody>
        <tr>
            <td>President</td>
            <td>Ronald Champion</td>
        </tr>
        <tr>
            <td>Secretary</td>
            <td>Alan Kelly</td>
        </tr>
        <tr>
            <td>Assistant Secretary</td>
            <td>Craig Jones</td>
        </tr>
        <tr>
            <td>Tournament Secretary</td>
            <td>Graham Heath</td>
        </tr>
        <tr>
            <td>Club Steward</td>
            <td></td>
        </tr>
        <tr>
            <td>Auditor</td>
            <td>Anthony Roberts</td>
        </tr>
        <tr>
            <td>Treasurer</td>
            <td>Mark Spriggs</td>
        </tr>
        <tr>
            <td>Club Captain</td>
            <td>Ed Taylor</td>
        </tr>
        <tr>
            <td>Publicity Officer</td>
            <td>Stephen Farry</td>
        </tr>
        
        </tbody>
        </table>
    

{% endblock %}