{% extends 'base.html' %}
{% load static %}
{% block title %}{{ game }}{% endblock %}
{% block header %} 
<!-- CSS used -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}
{% load i18n %}
{% load league_tags %}
{% block content %}
<h1 class="mt-4">Constitution Change Consultation</h1>
The club's Constitution was last revised in June 1986 and it has been apparent to the committee for some time that it has become significantly outdated. This has been highlighted by several recent issues at the club and the need for more modern compliance.

Therefore, Graham, Craig and Saul have worked together over several weeks to produce a revision of the Constitution, to be proposed for adoption at the 2024 AGM (on 8 July). This revision:
<ul>
    <li> re-names the document as the Constitution, as opposed to the Rules</li>
    <li> abolishes obsolete clauses</li>
    <li> revises and updates certain clauses</li>
    <li> makes minor changes to the constituent members of the committee and some of their roles</li>
    <li> introduces references to modern club policies which have come into existence in recent years</li>
    </ul>


In summary, the proposed revised version of the Constitution far more accurately reflects current practices in the administration of the club and also better protects it for the future. We therefore commend it for adoption at the AGM.

Here are links to three documents:
<ul>
<li> <a href="{{ MEDIA_URL }}/docs/Constitution 1949 (rev 1986)(digitised 2023).pdf" target="_blank">the existing Constitution ("Rules")</a> </li>
<li><a href="{{ MEDIA_URL }}/docs/List of proposed changes to constitution 2024 - final version (18 Jun 24).pdf" target="_blank">the proposed changes</a> </li>
<li><a href="{{ MEDIA_URL }}/docs/Constitution 1949 (rev 2024) - final version (18 Jun 24).pdf" target="_blank">the proposed new Constitution incorporating those changes</a> </li>
</ul>
Club members are invited to review these in advance of the AGM and raise any points in discussion at the meeting.

{% endblock %}