{% extends 'base.html' %}
{% load static %}
{% block title %}{{ game }}{% endblock %}
{% block header %} 
<!-- CSS used -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}
{% load i18n %}
{% load league_tags %}
{% block content %}
<h1 class="mt-4">Wallasey Chess Club - An Uncertain History</h1>
<p>
Chess in Wallasey has a long and distinguished history dating back to the 19th century, however the exact starting date of the club remains uncertain. In June 1977, having believed that the club was established in 1877,  Wallasey Chess Club held their centenary celebration. They staged an exhibition of chess playing in Liscard centre shopping area. Numerous members attended and it was deemed a success.
</p>

<p>
Subsequently however, following archive research, it was discovered that club chess was in fact played in Wallasey before 1877. It was also found that in the Queen's public house in 1872, a Wallasey Chess team did battle with Liverpool Chess Club over the board. The Wallasey team contained a number of players with Eastern European names, likely reflecting the influence of merchant seaman at that time.
</p>


<p>
So it appears the the club was actually established priot to 1877, and indeed it's worth noting that Liverpool Chess Club emerged in the 1820s. More research will be required before we can say for certain when we got going! Part of the problem has been the dreadful events of the second World War. Over 240 residents of Wallasey were killed in bomb raids, and they are honoured in Wallasey Cemetary, with all records being destroyed during the hostilities.
</p>

<p>
From 1945 onwards, the club again flourished, and reached a high point after 1972 when the World Championship was played between Boris Spassky and Bobby Fischer in Iceland. It was an immensely popular time for Chess, reflected in the club membership, which grew to over 100 at one point. The club went on to win the coveted Silver Rook trophy, awarded to the champions of the Liverpool and District Association. This feat was repeated on several occassions and the club was dominant in the Wirral Chess League in the 1980's and the early 90's.
</p>

<p>
And so a new era of chess begins, the club retains a steady membership, averaging 45 players each season. We have an excellent playing area with no noise disturbance and the players continue the best traditions of this historic chess club. Finally, we seek to maintain our status as one of Merseyside and Wirral's premier chess clubs.
</p>


<div class = "news-footer">
    Graham Heath, October 2021
</div>

{% endblock %}