{% extends 'base.html' %}
{% load static %}
{% load user_agents %}
{% block title %}{{ game }}{% endblock %}
{% block header %} 
<!-- CSS used -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}
{% load i18n %}
{% load league_tags %}
{% block content %}

{% if news|length == 1 %}

<h1 class="display-5 fst-italic mt-4">{{news.0.title}}</h1>
<div class="mb-4" id="{{n.id}}">
  {% if news.0.image %}
  {% if request|is_mobile %}
  <div class="px-0 clearfix">
      <img class="mw-100" src="{{ news.0.image.url }}">
  </div>
  {% else %}

  <img class="mw-30 px-1" align="right" src="{{ news.0.image.url }}">
  {% endif %}
  {% endif %}

  <div class="px-0 clearfix">
    <div class="mb-1">{{ news.0.published_date.date }}</div>
    <p class="lead my-3">{{ news.0.text|safe}}</p>
    <div class="mb-1">Published by {{ news.0.author.first_name }} {{ news.0.author.last_name }}</div>
  </div>
  

</div>
{% else %}


<h1 class="mt-4">News</h1>
<hr>
{% for n in news %}


<div class="d-flex" id="{{n.id}}">
      <h2 class="fst-italic"><a href="{% url 'news' n.id %}">{{n.title}}</a></h2>
      <span class="ml-auto">{{ n.published_date.date }}</span>

</div>



{% endfor %}
{% endif %}
{% endblock %}