{% extends 'base.html' %}
{% load static %}
{% load user_agents %}
{% block title %}{{ game }}{% endblock %}
{% block header %} 
<!-- CSS used -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="{% static 'js/pgnv.js' %}" type="text/javascript"></script>
<!-- CSS used -->
<link rel="stylesheet" href="{% static 'css/pgnvjs.css' %}">
{% endblock %}
{% load i18n %}
{% load league_tags %}
{% block content %}

{% if news|length == 1 %}

<h1 class="display-5 fst-italic mt-4">{{news.0.title}}</h1>

<div class="mb-1">{{ news.0.published_date.date }}</div>
<div class="mb-4" id="{{n.id}}">
  {% if news.0.image %}
  {% if request|is_mobile %}
  <figure class="px-0 clearfix">
      <img class="mw-100" src="{{ news.0.image.url }}">
      {% if news.0.caption %}<figcaption>{{ news.0.caption }}</figcaption> {% endif %}
  </figure>
  {% else %}
  <figure class="mw-30 px-1 float-right">
  <img class="mw-100" align="right" src="{{ news.0.image.url }}">
  {% if news.0.caption %}<figcaption class="py-1"><i>{{ news.0.caption }}</i></figcaption> {% endif %}
  </figure>
  {% endif %}
  {% endif %}

  {% if news.0.puzzle %}
  <div class='mw-30 px-0 clearfix'>
    <div id='board-{{ news.0.puzzle.id }}' class="merida zeit"></div>
  </div>
  {% endif %}
  <div class="px-0 clearfix">
    <p class="lead my-3">{{ news.0.text|safe}}</p>
    <div class="mb-1">Published by {{ news.0.author.first_name }} {{ news.0.author.last_name }}</div>
  </div>
  

</div>

{% if news.0.puzzle %}
<script>
  window.addEventListener("load", function() {
  var board = document.getElementById('board-{{ news.0.puzzle.id }}');
  var width = board.parentElement.offsetWidth;
  console.log(board.parentElement);
  console.log('width', width);
  var pgn=`{{news.0.puzzle.pgn|safe}}`
  var cfg = {pgn: pgn, showCoords: false, theme: 'default', pieceStyle: 'wikipedia', locale: 'en', timerTime: '', layout: 'top', showFen: false, coordsInner: false, headers: false, coordsFactor: '1.0', colorMarker: '', startPlay: '', hideMovesBefore: true, hideMovesAfter: true, notation: 'short', 'width' : width.toString()+'px' };
  PGNV.pgnTactic('board-{{ news.0.puzzle.id }}', cfg);
  }
  )
</script> 
{% endif %}


{% else %}


<h1 class="mt-4">News</h1>
<hr>
{% for n in news %}


<div class="d-flex" id="{{n.id}}">
      <h2 class="fst-italic"><a href="{% url 'news' n.id %}">{{n.title}}</a></h2>
      <span class="ml-auto">{{ n.published_date.date }}</span>

</div>



{% endfor %}
{% endif %}




{% endblock %}