{% extends 'base.html' %}
{% load static %}
{% block title %}{{ game }}{% endblock %}
{% block header %} 
<!-- CSS used -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}
{% load i18n %}
{% load league_tags %}
{% block content %}
<h1 class="mt-4">Rules and Regulations</h1>
<hr>

<h2 class="mt-4">Winter Tournament Rules 2023/2024</h2>
<ol type="1">
    <li>ALL-PLAY-ALL. This tournament rule applies to all sections and is based on the American System:</li>
        <ol type="a">
        <li> A double round all-play-all (Championship and Premier.)</li>
        <li> Each competitor plays all the other players in the section.</li>
        <li> Major section is a quadruple round all-play-all i.e., a competitor plays each player four times.</li>
        <li> For the double round games (Championship and Premier) the competitors will play once with the white pieces and once with the black pieces.</li>
        <li> For the quadruple round in the Major, competitors will play twice with the white pieces and twice with the black pieces.</li>
        </ol>

    <li>TIME LIMITS. 35 moves must be played in the first 1 hour and 15 minutes and then:
        <ol type="a">
        <li> All in the next fifteen (Allegro finish)</li>
        <li> If when 35 moves have been made then any time remaining of the 1 hour 15 minutes will be added to the 15 minutes.  For example, if after 35 moves you have 10 minutes left this will be added to the 15 minutes i.e., 25 minutes remaining, and the game would then need to be completed in the 25 minutes.</li>
        </ol>
    </li>

    <li>COMMENCING THE GAME.
        <ol type="a">
        <li> No game to be started after 20:00 hours.</li>
        <li> Colour choice should be decided in a manner acceptable to both competitors.</li>
        </ol>

    <li>TIED PLACES. In the event of a tie for the first, second, and third places:
        <ol type="a">
        <li>  A ‘tie-break’ system will be invoked to determine the outcome. The following tiebreaks will be used in order.</li>
            <ol type="i">
                <li>Head-to-head record of tied players. If more than two players are tied on the same points, the sume of the scores from these encounters is used.</li>
                <li>Number of wins.</li>
                <li>Number of wins with black.</li>
                <li>Neustadtl Sonneborn–Berger score, calculated by adding the sum of the scores of the players they have defeated to half the sum of the scores of those they have drawn against. </li>
            </ol>
        <li> A ‘play-off’ system is in place to establish a winner from the 3rd to 8th place for promotion from the Premier to Championship section.</li>
        </ol>

    <li>MARKING THE RESULTS.
        <ol type="a">
        <li>. Points obtained from the game should be written on the following:
            <ol type="i">
            <li> The results sheet (the most important as this sheet is used for the ECF ratings and for updating the website League Tables).</li>
            <li> The cross-table should also be filled in.</li>
            <li> The winner should be responsible for filling in the results sheet.  For a draw then agreement between the competitors should be agreed.</li>
            <li> The result sheet should be filled in on the night of the game.  However, a week between recording is the maximum allowed. </li>
            <li> If the results sheet is not filled in within a week from the end of the game, then points for that game will be deducted.</li>
            </ol>
        </li>
        </ol>
    <li>REFUSAL TO PLAY A GAME.  
        <ol type="a">
        <li> A challenger should offer alternate dates to his/her opponents.</li>
        <li> Challenger and opponent should reach an agreement.</li>
        <li> If he/she fails to appear for the game, on the agreed date, this breach can be reported to the Tournament Secretary (Mr. Graham Heath) who:</li>
            <ol type="i">
            <li> Investigate the reason(s) for failure to turn-up.</li>
            <li> Arrange an alternative date to the satisfaction of both players.</li>
            <li> Failure to play the second game on the agreed second date, without good reason, will result in the points being awarded to the opponent that has turned up.</li>
            </ol>
        </ol>

    <li>THE LAWS OF CHESS. All games shall be played in accordance with the ‘Laws of Chess’ as overseen by FIDE.

    <li>SELECTION OF TOURNAMENTS.  Based on past performances:
        <ol type="a">
        <li> Competitors are allocated to a section of the tournament containing players of a similar strength where possible.</li>
        <li> Allocation will be at the discretion of the Tournament Secretary (Mr. Graham Heath).</li>
        </ol>

    <li>PROMOTION AND RELEGATION.  
        <ol type="a">
        <li> On the completion of the Championship section (nominally mid-May of 2024) all players below 14th place will be relegated to the Premiership section. </li>
        <li> On completion of the Premiership section (nominally mid-May of 2024) all players below 18th place will be relegated to the Major section.</li>
        <li> Three players from the Premiership section will be promoted, which includes the ‘play-off’ winner (see 4. above).</li>
        <li> The top two players from the Major will be promoted to Premiership section.</li>
        <li> A ‘play-off’ system is in place to establish a winner from the 3rd to 8th place for promotion from the Premier to Championship section.</li>
        <li> A ‘play-off’ system for promotion from the Major to the Premiership will be considered and communicated a.s.a.p. by the Tournament Secretary.</li> 
        </ol>

    <li>PROHIBITIONS.
        <ol type="a">
        <li> Claiming points when games have not been played is forbidden.  Any such infractions will lead to instant disqualification and all previous results expunged.</li>
        <li> The offering of draws over the telephone or by any other means without a game being played is strictly not allowed.  Any occurrence will lead to immediate disqualification and all previous results expunged.</li>
        </ol>

    <li>TOURNAMENT GAMES.  No internal tournament games can be played away from the club under any circumstances. 

    <li>DISPENSATIONS.  There is one current exception to the above rule (11):
        <ol type="a">
        <li> In view of a very busy chess Calander, knockout games in the David Camm and Open Major can be played away from the club in rounds up to but not including the semi-finals and final.</li>
        <li> The Tournament Secretary (Mr. Graham Heath) shall be informed beforehand of any plans to play said games outside the club.</li>
        </ol>

    <li>INTERPRETATION OF THE ABOVE RULES.  The Tournament Secretary (Mr. Graham Heath) will apply the above rules with tact and consistency.  In the event of a dispute the Tournament Secretary or in his absence another member of the committee will adjudicate.

    <li>RIGHT OF APPEAL. Following consultation regarding a grievance, any competitor may appeal against the Tournament Secretary's decision.
        <ol type="a">
            <li> An appeals committee will be convened and consist of:
                <ol type="i">
                <li> Club President (Mr. Ron Champion)</li>
                <li> Club Secretary (Mr. Alan Kelly)</li>
                <li> Club Captain (Mr. Ed. Taylor)</li>
                </ol>
            </li>
        </ol>
    <li>CLOSING DATE.  All games in all sections must be completed by 22:45 on the 16th of May 2024.

    </ol>


<h2 class="mt-4">Summer & Rapid Tournament Rules</h2>
<ul>
<li>The Summer Tournament is a time handicap tournament. Each player is allocated a computer-generated time based on previous performances. For Rapidplay, the time for each player is set to 30 minutes without increment.</li>
<li>The hand that moves the pieces must also press the clock. Clock 'covering' is therefore <b>not</b> allowed.</li>
<li>In the event of dispute, stop the clock and seek assistance from the Tournament Secretary. In his absence, another Committee Member will arbitrate.</li>
<li>You <b>cannot</b> enter the tournament unless you have paid the tournament fee</li>
<li>Insufficient material for a checkmate constitutes a draw and can be claimed as such.</li>
<li>Spectators/participants must not speak or otherwise interfere in a game other than their own and must never draw attention to a flag fall or illegal move.</li>
<li>Play shall be governed by the spirit of the Laws of Chess, i.e. in an ethical manner and in the spirit of fair play. Also please do not use excessive force in pressing the clock button.</li>
<li>All results must be marked up on the completion of each game. Failure to mark up results can and will result in the said games having to be played again.</li>
<li>In the event of arbitration, the Tournament Secretary's decision will be final and binding.</li>
</ul>


<h2 class="mt-4">Club Documents</h2>
<ul>
    <li> <a href="media/docs/Constitution 1949 (rev 1986)(reprint 1995).pdf" target="_blank">Constitution (1949, revised 1986, reprinted 1995)</a></li>
    <li> <a href="mediadocs/Data Protection Policy WCC Final August 2023.pdf" target="_blank">Data Protection Policy</a></li>
    <li> <a href="mediadocs/Safeguarding policy Final August 2023.pdf" target="_blank">Safeguarding Policy</a></li>
</ul>

<h2 class="mt-4">Wirral League</h2>
<ul>
    <li> <a href="media/docs/wirral_chess_league_23_24_rules_regs.pdf" target="_blank">Tournament Rules and Regulations (23/24 Season)</a></li>
</ul>

<h2 class="mt-4">Merseyside League</h2>
<ul>
    <li> <a href="media/docs/MCA_RULES_21_22.pdf" target="_blank">Tournament Rules and Regulations (21/22 Season)</a></li>
</ul>



<h2 class="mt-4">Other Documents</h2>
<ul>
    <li><a href="https://handbook.fide.com" target="_blank">FIDE Handbook</a></li>
</ul>



{% endblock %}